<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="angular.min.js"></script>
</head>
<body>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstname = "John";
        $scope.lastname = "Doe";
        $scope.changeName = function() {
            $scope.firstname = "Nelly";
        }
    });
</script>
<div ng-app="myApp" ng-controller="myCtrl">
<p ng-bind="firstname" ng-click="changeName()"></p>
<p>First Name: {{firstname}}</p>
<input type="" name="" ng-model="firstname">
</div>
</body>
</html>