<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
        /*table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }*/
    </style>
    <script src="angular.min.js"></script>
</head>
<body>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers.php").then(function(response) {
            $scope.myData = response.data.records;
        });
    });
</script>
<div ng-app="myApp">
    <div ng-controller="customersCtrl">
        <table>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Country</th>
            </tr>
            <tr ng-repeat="x in myData | orderBy: 'Country'">
                <td ng-if="$odd" style="background-color: #f1f1f1">{{ $index + 1 }}</td>
                <td ng-if="$even">{{ $index + 1 }}</td>
                <td ng-if="$odd" style="background-color: #f1f1f1">{{ x.Name }}</td>
                <td ng-if="$even">{{ x.Name }}</td>
                <td ng-if="$odd" style="background-color: #f1f1f1">{{ x.Country | uppercase }}</td>
                <td ng-if="$even">{{ x.Country | uppercase }}</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>